@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  background-image: url("../img/carousel-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* animation: slideBackground 2s linear infinite; */
}
/* 
@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
} */
